/* 声明字体 */
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.woff2?t=1675746426476') format('woff2'),
        url('../fonts/iconfont.woff?t=1675746426476') format('woff'),
        url('../fonts/iconfont.ttf?t=1675746426476') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.style_red {
    color: #b1191a;
}
.shortcut {
    background-color: #f1f1f1;
    height: 31px;
    line-height: 31px;
}
.shortcut .fl ul li {
    float: left;
}
.shortcut .fl ul li a {
    margin: 0 5px;
}
.shortcut .fr ul li {
    float: left;
}
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}
.shortcut .fr ul .arrow_icon::after {
    content: '\e601';
    font-family: 'iconfont';
    margin-left: 5px;
}
.header {
    position: relative;
    height: 105px;
}
.header .logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}
.header .logo a {
    display: block;
    width: 171px;
    height: 61px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/logo.png) no-repeat;
}
.header .search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}
.header .search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}
.header .search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    color: #fff;
    font-size: 16px;
}
.header .hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}
.header .hotwords ul li {
    float: left;
    margin: 0 10px;
}
.header .shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #dfdfdf;
}
.header .shopcar::before {
    content: '\e70c';
    font-family: 'iconfont';
    font-size: 15px;
    margin-right: 5px;
}
.header .shopcar::after {
    content: '\e68c';
    font-family: 'iconfont';
    font-size: 15px;
    margin-right: 5px;
}
.header .shopcar .count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    padding: 0 5px;
    color: #fff;
}
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}
.nav .dropdown dl dt {
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.nav .dropdown dl dd {
    /* display: none; */
    height: 465px;
    background-color: #c81623;
}
.nav .dropdown dl dd ul li {
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}
.nav .dropdown dl dd ul li a {
    color: #fff;
}
.nav .dropdown dl dd ul li:hover {
    background-color: #fff;
}
.nav .dropdown dl dd ul li:hover a {
    color: #c81623;
}
.nav .navitems {
    float: left;
}
.nav .navitems ul li {
    float: left;
}
.nav .navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font-size: 16px;
}
.footer {
    height: 415px;
    background-color: #f1f1f1;
    padding-top: 30px;
}
.footer .mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.footer .mod_service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 35px;
}
.footer .mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    background: url(../images/icons.png) no-repeat -252px -2px;
}
.footer .mod_service ul li .service_text {
    margin-top: 5px;
}
.footer .mod_service ul li .service_text h4 {
    font-size: 14px;
}
.footer .mod_service ul li .service_text p {
    font-size: 12px;
}
.footer .mod_help {
    height: 185px;
    padding: 20px 0 0 50px;
    border-bottom: 1px solid #ccc;
}
.footer .mod_help dl {
    float: left;
    width: 200px;
}
.footer .mod_help dl dt {
    margin-bottom: 10px;
    font-size: 16px;
}
.footer .mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.footer .mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.footer .mod_copyright .links {
    margin-bottom: 15px;
}
.footer .mod_copyright .links a {
    margin: 0 5px;
}