* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.box>div {
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    width: 250px;
    height: 300px;
}

.demo01 .pink {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: pink;
}

.demo01 .skyblue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: skyblue;
}

.demo02>img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid pink;
    transition: all 5s;
}

.demo02>img:hover {
    transform: rotate(999deg);
}
.d2_search {
    position: relative;
    width: 200px;
    height: 50px;
    border: 1px solid #000;
}
.d2_corner {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg);
}
.d2_search:hover .d2_corner {
    transform: rotate(225deg);
}
.rotate {
    width: 50px;
    height: 50px;
    background-color: #2d649a;
    overflow: hidden;
}
.rotate::after {
    content: '传媒';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #82c7ee;
    transform: rotate(90deg);
    transform-origin: left bottom;
    transition: all .5s;
}
.rotate:hover::after {
    transform: rotate(0);
}
.scale {
    margin: 10px;
    overflow: hidden;
    border: 2px solid pink;
    width: 200px;
    height: 100px;
}
.scale img {
    width: 100%;
    height: 100%;
    transition: all .3s;
}
.scale:hover img {
    transform: scale(1.1);
}
@keyframes move {
    0% {
        transform: translate(0,0) scale(1) rotate(0);
    }
    25% {
        transform: translate(220px,0) scale(1.1) rotate(90deg);
    }
    50% {
        transform: translate(220px,220px) scale(1.2) rotate(180deg);
    }
    75% {
        transform: translate(0px,220px) scale(1.3) rotate(270deg);
    }
    100% {
        transform: translate(0,0) scale(1.4) rotate(360deg);
    }
}
.box4 {
    width: 50px;
    height: 50px;
    background-color: pink;
    transform-origin: top left;
/*     动画名称
    animation-name: move;
    持续时间
    animation-duration: 5s;
    开始等待
    animation-delay: 2s;
    动画次数
    animation-iteration-count: infinite;
    反方向运动
    animation-direction: alternate;
    运动速度曲线
    animation-timing-function: linear;
    结束后状态
    animation-fill-mode: backwards; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: move 5s linear 2s infinite alternate forwards;
}
.box4:hover {
    animation-play-state: paused;
}
.demo05 {
    position: relative;
}
@keyframes w {
    0% {
        width: 0;
    }
    100% {
        width: 200px;
    }
}

.steps {
    position: absolute;
    top: 250px;
    left: 20px;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: pink;
    animation: w 1.5s steps(10) 1s infinite;
}
@keyframes bear {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1600px 0;
    }
}
@keyframes run {
    0% {
        left: 0;
    }
    100% {
        left: 150px;
    }
}
.bear {
    position: absolute;
    width: 100px;
    height: 50px;
    background: url(images/bear.png) no-repeat;
    background-size: 800px 50px;
    background-color: pink;
    animation: run 2s forwards, bear .5s steps(8) infinite;
}
.demo06 {
    perspective: 500px;
}
.d4_box1 {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    transform-style: preserve-3d;
    margin: 20px auto;
    transform-style: preserve-3d;
    transform: rotateY(-45deg);
}
.box1_pink,
.box1_purple {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.box1_pink {
    background-color: pink;
}
.box1_purple {
    background-color: purple;
    transform: rotateX(60deg);
}

.d4_box2 {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    transform-style: preserve-3d;
    transition: all .2s;
}
.d4_box2:hover {
    transform: rotateY(180deg);
}
.box2_pink,
.box2_purple {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 100px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    /* 背向隐藏 */
    backface-visibility: hidden;
}
.box2_pink {
    background-color: pink;
}
.box2_purple {
    background-color: purple;
    transform: rotateY(180deg);
}