* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.woff2?t=1675591392564') format('woff2'),
        url('font/iconfont.woff?t=1675591392564') format('woff'),
        url('font/iconfont.ttf?t=1675591392564') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body>div {
    float: left;
    width: 250px;
    height: 280px;
    margin: 10px;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #000;
}

li {
    list-style: none;
}

h4 {
    margin-bottom: 10px;
}

/* demo01 */
.demo01 .pic {
    width: 50px;
    height: 50px;
    float: left;
}

.demo01 img {
    width: 100%;
    height: 100%;
}

/* demo02 */
.tb1,
.tb2 {
    text-align: center;
    width: 150px;
    height: 100px;
    margin: 10px auto;
}

table,
table th,
table td {
    border: 1px solid #000;
    border-collapse: collapse;
}

/* demo03 */
.demo03 ul,
.demo03 ol,
.demo03 dl {
    border: 1px solid #000;
    margin-top: 10px;
}

/* demo04 */
.demo04 table {
    width: 100%;
    height: 220px;
}

.demo04 table td {
    border: 0;
}

/* demo05  */
.demo05 .font1 {
    font: italic 700 16px/20px 'Microsoft yahei';
}

.demo05 .font2 {
    color: #646c8a;
    text-align: left;
    text-indent: 2em;
    line-height: 20px;
    text-decoration: underline;
}

.demo05 .pic {
    width: 100%;
}

.demo05 img {
    width: 100%;
    height: 50px;
}

/* demo06开始 */

.demo06 a:link {
    color: #646c8a;
    text-decoration: none;
}

.demo06 a:visited {
    color: black;
}

.demo06 a:hover {
    color: blue;
}

.demo06 a:active {
    color: red;
}

.demo06 input {
    margin-top: 15px;
}

.demo06 input:focus {
    background-color: pink;
    color: blue;
}

/* demo7开始 */

.demo07 p {
    font-size: 12px;
}

/* demo08开始 */
.demo08 a {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    width: 170px;
    margin: 0 auto;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    padding-left: 30px;
}

.demo08 a:hover {
    color: #fff;
    background-color: #fe6700;
}

/* demo09开始 */
.demo09 .pic {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-indent: 25px;
    margin: 0 auto;
    background: url(images/bj1.jpg) no-repeat left pink;
    background-size: 25px 25px;
}

.demo09 .box1 a {
    display: inline-block;
    width: 50px;
    height: 25px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: pink;
}

.demo09 .pg1 {
    background: url(images/bg1.png) no-repeat top;
    background-size: 100% 100%;
}

.demo09 .pg2 {
    background: url(images/bg2.png) no-repeat top;
    background-size: 100% 100%;
}

.demo09 .pg3 {
    background: url(images/bg3.png) no-repeat top;
    background-size: 100% 100%;
}

.demo09 .pg4 {
    background: url(images/bg4.png) no-repeat top;
    background-size: 100% 100%;
}

.demo09 .pg1:hover {
    background: url(images/bg11.png) no-repeat top;
    background-size: 100% 100%;
}

.demo09 .pg2:hover {
    background: url(images/bg22.png) no-repeat top;
    background-size: 100% 100%;
}

.demo09 .pg3:hover {
    background: url(images/bg33.png) no-repeat top;
    background-size: 100% 100%;
}

.demo09 .pg4:hover {
    background: url(images/bg44.png) no-repeat top;
    background-size: 100% 100%;
}

.demo09 .box2 {
    width: 100%;
    border-top: 3px solid #ff8500;
    border-bottom: 1px solid #edeef0;
    height: 41px;
    background-color: #fcfcfc;
}

.demo09 .box2 a {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    color: #4c4c4c;
    padding: 0 5px;
}

.demo09 .box2 a:hover {
    background-color: #eee;
    color: #ff8500;
}

/* demo10开始 */
.demo10 .box {
    border: 1px solid #000;
    height: 150px;
    width: 100%;
}

.demo10 .box1,
.demo10 .box2 {
    height: 30px;
    background-color: pink;
}

.demo10 .box1 {
    margin-bottom: 10px;
}

.demo10 .box2 {
    margin-top: 20px;
}

/* demo11开始 */

.demo11 .box {
    border: 1px solid #000;
    height: 150px;
    width: 100%;
}

.demo11 .box1 {
    height: 80px;
    background-color: pink;
    margin-top: 20px;
    border-top: 1px solid #000;
    padding-top: 1px;
    overflow: hidden;
}

.demo11 .box2 {
    width: 100%;
    height: 30px;
    background-color: red;
    margin-top: 10px;
}

/* demo12开始 */
.demo12 {
    background-color: #f5f5f5;
}

.demo12 .box {
    font-size: 13px;
    width: 150px;
    height: 220px;
    background-color: #ffffff;
    margin: 0 auto;
}

.demo12 img {
    width: 100%;
}

.demo12 .review {
    margin: 10px 8px 0;
    height: 70px;
}

.demo12 .appraise {
    font-size: 12px;
    padding: 5px 8px;
    color: #ccc;
}

.demo12 .info {
    margin: 0 8px 0;
}

.demo12 .info h4 {
    font-weight: 400;
    display: inline-block;
}

.demo12 .info em {
    margin: 0 5px 0 8px;
    font-style: normal;
}

.demo12 .info span {
    color: #ff8500;
}

/* demo13开始 */
.demo13 .box {
    width: 250px;
    height: 200px;
    color: #4c4c4c;
    border: 1px solid #cbcdca;
    margin: 0 auto;
    font-size: 13px;
}

.demo13 h5 {
    border-bottom: 1px dotted #cbcdca;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 8px;
}

.demo13 li {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.demo13 li a {
    color: #4c4c4c;
    text-decoration: none;
}

.demo13 li a:hover {
    color: blue;
    text-decoration: underline;
}

/* demo14开始 */
.demo14 .radio1,
.demo14 .radio2,
.demo14 .radio3 {
    width: 50px;
    height: 26px;
    background-color: pink;
    display: inline-block;
}

.demo14 .radio1 {
    border-radius: 50%;
}

.demo14 .radio2 {
    border-radius: 13px;
}

.demo14 .radio3 {
    border-radius: 0 50%;
}

.demo14 .box1,
.demo14 .box2 {
    width: 50px;
    height: 50px;
    background-color: pink;
    display: inline-block;
    margin-right: 15px;
}

.demo14 .box1 {
    width: 50px;
    height: 50px;
    background-color: pink;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .3);
}

.demo14 .box2:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .3);
}

.demo14 p {
    font-size: 16px;
    font-weight: 700;
    color: #ff8500;
    text-shadow: 4px 1px 1px rgba(0, 0, 0, .3);
}

/* demo15开始 */
.demo15 span {
    float: left;
    width: 150px;
    height: 30px;
    background-color: pink;
}

.demo15 .pink {
    float: left;
    width: 50px;
    height: 50px;
    background-color: pink;
}

.demo15 .box {
    width: 200px;
    border: 1px solid #000;
    margin: 0 auto;
}

.demo15 .box1 {
    float: left;
    width: 50px;
    height: 50px;
    background-color: red;
}

.demo15 .box2 {
    float: left;
    width: 50px;
    height: 50px;
    background-color: blue;
}

/* demo16开始 */
.demo16 {
    position: relative;
}

.demo16 .pink {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: pink;
    margin: 0 auto;
}

.demo16 .red {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 50px;
    height: 50px;
    background-color: red;
}

.demo16 .yellow {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 80px;
    height: 40px;
    background-color: yellow;
}

.demo16 .box1,
.demo16 .box2,
.demo16 .box3 {
    position: absolute;
    width: 100px;
    height: 50px;
}

.demo16 .box1 {
    bottom: 30px;
    left: 30px;
    background-color: red;
}

.demo16 .box2 {
    z-index: 1;
    bottom: 20px;
    left: 40px;
    background-color: pink;
}

.demo16 .box3 {
    bottom: 10px;
    left: 50px;
    background-color: yellow;
}

.demo17 .box {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    margin: 0 auto;
}

.demo17 .pink {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background-color: pink;
}

.demo18 .pink,
.demo18 .red,
.demo18 .gray,
.demo18 .blue {
    float: left;
    width: 50px;
    height: 50px;
}

.demo18 .pink {
    background-color: pink;
    display: none;
}

.demo18 .red {
    background-color: red;
}

.demo18 .gray {
    background-color: gray;
    visibility: hidden;
}

.demo18 .blue {
    background-color: blue;
}

.demo18 .box1,
.demo18 .box2 {
    float: left;
    width: 100px;
    height: 50px;
    border: 1px solid #000;
}

.demo18 .box1 {
    overflow: hidden;
}

.demo18 .box2 {
    overflow: auto;
}

.demo19 .sprite {
    width: 60px;
    height: 60px;
    background: url(images/sprites.png) no-repeat -180px 0;
}
.demo19 .jd {
    position: relative;
    width: 100px;
    height: 40px;
    background-color: red;
}
.demo19 .corner {
    position: absolute;
    top: -20px;
    left: 60px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: red;
}
.demo20 .p1 {
    cursor: default;
}
.demo20 .p2 {
    cursor: pointer;
}
.demo20 .p3 {
    cursor: text;
}
.demo20 .p4 {
    cursor: not-allowed;
}
.demo20 .p5 {
    cursor: move;
}
.demo20 input,
.demo20 textarea {
    outline: none;
    margin-bottom: 5px;
}
.demo20 textarea {
    resize: none;
}
.demo21>img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.demo21 .box1,
.demo21 .box2 {
    display: inline-block;
    border: 1px solid red;
}
.demo21 .box1 img,
.demo21 .box2 img {
    width: 50px;
    height: 50px;
}
.demo21 .box2 img {
    vertical-align: bottom;
}
.demo21 .box3 {
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.demo22 .first div {
    float: left;   
    width: 70px;
    height: 80px;
    border: 2px solid #000;
    margin-left: -2px;
}
.demo22 .second div {
    position: relative;
    float: left;   
    width: 70px;
    height: 80px;
    border: 2px solid #000;
    margin-left: -2px;
}
.demo22 .second div:hover {
    position: relative;
    z-index: 1;
    border-color: blue;
}
.demo23 img {
    width: 250px;
}
.demo23 .corner {
    width: 0;
    height: 0;
    border-width: 30px 15px 0 0;
    border-color: transparent red transparent transparent;
    border-style: solid;
}

.demo26 form input::placeholder {
    color: blue;
}

.demo27 p[class^=prev] {
    color: pink;
}
.demo27 p[class$=icon] {
    color: blue;
}
.demo27 p[class*=last] {
    color: red;
}
.demo28 ul li:first-child {
    background-color: blue;
}
.demo28 ul li:last-child {
    background-color: red;
}
.demo28 ul li:nth-child(3) {
    background-color: pink;
}
.demo29 ul li:nth-child(even) {
    background-color: pink;
}
.demo29 ul li:nth-child(odd) {
    background-color: gray;
}
.demo29 ol li:nth-child(n) {
    background-color: yellow;
}
.demo30 div:nth-child(1) {
    color: pink;
}
.demo30 div:nth-of-type(1) {
    color: blue;
}
.demo31 .box1,
.demo31 .box2 {
    width: 100px;
    height: 30px;
    border: 1px solid #000;
}
.demo31 .box1::before {
    content: '我';
    color: blue;
}
.demo31 .box1::after {
    content: '谁';
    color: red;
}

.demo31 .box2 {
    position: relative;
}
.demo31 .box2::after {
    position: absolute;
    content: '\e601';
    top: 5px;
    right: 10px;
}
.demo33 .box1,
.demo33 .box2 {
    float: left;
    width: 50px;
    height: 50px;
    background-color: pink;
    border: 10px solid blue;
    padding: 10px;
    margin: 15px;
}
.demo33 .box2 {
    box-sizing: border-box;
}

.demo34 img {
    width: 250px;
    height: 250px;
    filter: blur(5px);
    transition: 0.5s;
}
.demo34 img:hover {
    filter: blur(0);
}
.demo35 .father {
    width: 250px;
    height: 100px;
    background-color: pink;
}
.demo35 .son {
    width: calc(100% - 50px);
    height: 50px;
    background-color: skyblue;
}
.demo36 .box {
    width: 100px;
    height: 50px;
    background-color: pink;
    transition: width .5s ease .5s;
}

.demo36 .box:hover {
    width: 250px;
}
.demo36 .bar {
    margin-top: 30px;
    height: 10px;
    width: 200px;
    border: 1px solid red;
    border-radius: 6px;
    padding: 1px;
}
.demo36 .bar-in {
    width: 50%;
    height: 100%;
    background-color: red;
    border-radius: 5px;
    transition: all .5s;
}
.demo36 .bar-in:hover {
    width: 100%;
}
.demo36 .logo {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.demo36 .logo img {
    height: 100%;
    left: 0;
    transition: all .2s;
}
.demo36 .logo img:hover {
    position: absolute;
    top: 0;
    left: -99px;
}
